body {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", " Arial ", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
  background-image: url("../images/icons/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header {
  padding-bottom: 40px;
  position: relative;
  min-height: 732px;
}
.logo {
  width: 105px;
  height: 39px;
}

.nav {
  display: flex;
  padding: 30px 26px 0px 30px;
  align-items: center;
}
.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  gap: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__content {
  padding-left: 80px;
  padding-right: 26px;
}
.hero-text {
  max-width: 709px;
}
.span-title {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #ff976b;
  line-height: 1.6;
}

.header__description {
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  max-width: 683px;
}
.header__image {
  position: absolute;
  top: 124px;
  right: 26px;
  width: 646px;
  height: 568px;
  margin: 0;
  display: block;
}
.header-info {
  position: absolute;
  left: 80px; /* del brief */
  right: 80px; /* del brief */
  bottom: 40px; /* del brief */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}
.span-info {
  display: block;
}
.info-direction {
  margin-left: auto;
  margin: 0;
}
.header-title {
  padding: 183px 0 28px 80px;
  max-width: 709px;
}
.content {
  background-color: #ffd6c5;
  background-image: url("../images/icons/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  position: relative;
}
.reservation {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  max-width: 385px;
  box-sizing: border-box;
}
.reservation-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 100px 0 80px;
  text-align: center;
}

.label-form {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 8px;
}
.input-form {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 0 0 32px;
  border: 1px solid #838383;
  border-radius: 4px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
.button-form {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #e96e3a;
  border-radius: 4px;
  height: 60px;
  width: 100%;
  color: #ffffff;
  cursor: not-allowed;
  margin: 0 0 32px;
  border: none;
}
.button-form:enabled:hover {
  cursor: pointer;
  background-color: #d35722;
}
.verification {
  margin: 0 0 120px;
  text-align: center;
}
.verification-checkbox {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  border-radius: 2px;
  border-color: #4f4f4f;
}

.verification-checkbox::after {
  background-image: url("../images/icons/check.svg");
  color: white;
}

.footer {
  background-color: #d35722;
  position: relative;
  display: flex;
}
.container {
  margin-left: 80px;
}
.image-logo {
  margin: 60px 0 0 0;
  z-index: 2;
  width: 105px;
  height: 39px;
  position: relative;
}
.circle {
  position: absolute;
  top: -128px;
  left: -44px;
  border-radius: 50%;
  background-color: #e96e3a;
  height: 340px;
  width: 340px;
  z-index: 1;
}
.social {
  margin: 60px 80px;
  color: #ffffff;
  margin-left: auto;
  position: relative;
  z-index: 2;
  list-style: none;
  padding: 0;
}
.social-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}
.list {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}
.img-list {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
a {
  color: inherit;
  text-decoration: none;
}
.my-name {
  margin: 108px 0 60px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  z-index: 1;
  color: #ffffff;
}
